fng-alert/workflow.json
{
  "name": "Fear & Greed Index Alert (Phase 1 - Sequential)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 9AM KST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "notes": "\ub9e4\uc77c \uc624\uc804 9\uc2dc(KST) \uc2e4\ud589"
    },
    {
      "parameters": {
        "url": "https://api.alternative.me/fng/",
        "options": {
          "timeout": 10000
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "2"
            }
          ]
        }
      },
      "id": "fetch-fng",
      "name": "Fetch FNG API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "notes": "Alternative.me API \ud638\ucd9c"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin,ethereum&vs_currencies=usd",
        "options": {}
      },
      "id": "fetch-prices",
      "name": "Fetch Crypto Prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "notes": "CoinGecko API: BTC, ETH \uac00\uaca9 \uc870\ud68c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "REPLACE_WITH_GEMINI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ [{\n  \"parts\": [{\n    \"text\": \"\ud604\uc7ac \uc554\ud638\ud654\ud3d0 \uc2dc\uc7a5 \uc0c1\ud669\uc5d0 \ub300\ud55c \uc9e7\uc740 \uc778\uc0ac\uc774\ud2b8\ub97c \ud55c\uad6d\uc5b4\ub85c \uc791\uc131\ud574\uc918. \\n\\n\ub370\uc774\ud130:\\n- \uacf5\ud3ec/\ud0d0\uc695 \uc9c0\uc218: \" + $('Fetch FNG API').first().json.data[0].value + \" (\" + $('Fetch FNG API').first().json.data[0].value_classification + \")\\n- \ube44\ud2b8\ucf54\uc778 \uac00\uaca9: $\" + $('Fetch Crypto Prices').first().json.bitcoin.usd + \"\\n- \uc774\ub354\ub9ac\uc6c0 \uac00\uaca9: $\" + $('Fetch Crypto Prices').first().json.ethereum.usd + \"\\n\\n\uc870\uac74:\\n- 3\ubb38\uc7a5 \uc774\ub0b4\ub85c \uc694\uc57d.\\n- \ud22c\uc790 \uc870\uc5b8\ucc98\ub7fc \ub4e4\ub9ac\uac8c \uc791\uc131.\\n- \uc774\ubaa8\uc9c0 1~2\uac1c \uc0ac\uc6a9.\"\n  }]\n}] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-ai",
      "name": "Fetch Gemini Insight",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "notes": "Google Gemini Pro API \ud638\ucd9c"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Fear & Greed Index - Transform & Alert Logic\n * Phase 1: Price & AI Insight Added\n * Modified to use detailed Zone Logic per user request\n */\n\nconst EMOJI_MAP = {\n  'Extreme Fear': '\ud83d\ude31',\n  'Fear': '\ud83d\ude28',\n  'Neutral': '\ud83d\ude10',\n  'Greed': '\ud83e\udd11',\n  'Extreme Greed': '\ud83d\ude80',\n};\n\nconst unixToISO = (ts) => new Date(parseInt(ts, 10) * 1000).toISOString();\nconst safeParseInt = (val) => parseInt(val, 10) || 0;\nconst getEmoji = (cls) => EMOJI_MAP[cls] || '\ud83d\udcca';\nconst getChangeEmoji = (c) => c > 0 ? '\ud83d\udcc8' : c < 0 ? '\ud83d\udcc9' : '\u27a1\ufe0f';\n\nconst getZoneMessage = (value) => {\n  if (value <= 10) {\n    return {\n      zone: '\ud83d\udd25 [\uacf5\ud3ec \uc9c0\uc625] 0-10',\n      title: '\ud328\ub2c9\uc140 \uc808\uc815! \uc62c\uc778 \ud0c0\uc774\ubc0d?!',\n      tip: '\uc5ed\uc0ac\uc801 \ubc14\ub2e5\uad8c. \uc6cc\ub80c \ubc84\ud54f: \"\ub0a8\ub4e4\uc774 \uacf5\ud3ec\uc5d0 \ub5a8 \ub54c \ud0d0\uc695\uc744 \ubd80\ub824\ub77c\"\\n\u2694\ufe0f \uc804\uad70 \ub3cc\uaca9! \ubd84\ud560\ub9e4\uc218 \uc801\uadf9 \uace0\ub824!',\n      emoji: '\ud83e\ude78'\n    };\n  } else if (value <= 20) {\n    return {\n      zone: '\ud83d\ude31 [\uadf9\ub2e8\uc801 \uacf5\ud3ec] 11-20',\n      title: '\uacf5\ud3ec \uadf9\ub300\ud654! \ub9e4\uc218 \uae30\ud68c \ud3ec\ucc29!',\n      tip: '\uc2dc\uc7a5\uc774 \uacfc\ub3c4\ud558\uac8c \ube44\uad00\uc801. \ub300\ubd80\ubd84\uc758 \uc545\uc7ac\uac00 \uac00\uaca9\uc5d0 \ubc18\uc601\ub428\\n\ud83d\udcb0 \uc6a9\uae30\uc788\ub294 \uc790\uac00 \ubd80\ub97c \uc5bb\ub294\ub2e4! \ubd84\ud560\ub9e4\uc218 \uc2dc\uc791!',\n      emoji: '\ud83c\udfaf'\n    };\n  } else if (value <= 30) {\n    return {\n      zone: '\ud83d\ude28 [\uacf5\ud3ec] 21-30',\n      title: '\uacf5\ud3ec \uc6b0\uc138! \ub9e4\uc218 \uad00\uc2ec \uad6c\uac04',\n      tip: '\uc544\uc9c1 \ub450\ub824\uc6c0\uc774 \uc9c0\ubc30. \uc88b\uc740 \uc790\uc0b0\uc744 \uc2f8\uac8c \uc0b4 \uae30\ud68c\\n\ud83d\uded2 \uad00\uc2ec \uc885\ubaa9 \ub9ac\uc2a4\ud2b8 \uc810\uac80, \ubd84\ud560\ub9e4\uc218 \uc900\ube44!',\n      emoji: '\ud83d\udc40'\n    };\n  } else if (value <= 40) {\n    return {\n      zone: '\ud83d\ude30 [\uc57d\ud55c \uacf5\ud3ec] 31-40',\n      title: '\ubd88\uc548\ud55c \uc2dc\uc7a5, \uae30\ud68c \uc5ff\ubcf4\uae30',\n      tip: '\uc2dc\uc7a5 \uc2ec\ub9ac \uc704\ucd95. \uc123\ubd80\ub978 \ub9e4\ub3c4\ubcf4\ub2e4 \uad00\ub9dd or \uc18c\ub7c9 \ub9e4\uc218\\n\ud83d\udcdd \ud3ec\ud2b8\ud3f4\ub9ac\uc624 \uc810\uac80\ud558\uace0 \uc800\uac00 \ub9e4\uc218 \uae30\ud68c \ud0d0\uc0c9!',\n      emoji: '\ud83d\udd0d'\n    };\n  } else if (value <= 60) {\n    return {\n      zone: '\ud83d\ude10 [\uc911\ub9bd] 41-60',\n      title: '\uade0\ud615 \uc0c1\ud0dc, \uad00\ub9dd \ucd94\ucc9c',\n      tip: '\ub69c\ub837\ud55c \ubc29\ud5a5\uc131 \uc5c6\uc74c. \ucd94\uc138 \uc804\ud658 \uc2e0\ud638 \uc8fc\uc2dc\\n\u2696\ufe0f \uae09\ud558\uac8c \uc6c0\uc9c1\uc774\uc9c0 \ub9d0\uace0 \uc2dc\uc7a5 \ud750\ub984 \uad00\ucc30!',\n      emoji: '\u23f3'\n    };\n  } else if (value <= 70) {\n    return {\n      zone: '\ud83d\ude42 [\uc57d\ud55c \ud0d0\uc695] 61-70',\n      title: '\ub099\uad00\ub860 \ud655\uc0b0, \uc8fc\uc758 \uc2dc\uc791',\n      tip: '\uc2dc\uc7a5\uc774 \uae0d\uc815\uc801. \uc2e0\uaddc \ub9e4\uc218\ubcf4\ub2e4 \ubcf4\uc720 \uc804\ub7b5 \uc720\uc9c0\\n\ud83d\udcca \ucd94\uac00 \ub9e4\uc218\ub294 \uc2e0\uc911\ud558\uac8c, \uc775\uc808 \ub77c\uc778 \uc124\uc815!',\n      emoji: '\ud83d\udcc8'\n    };\n  } else if (value <= 80) {\n    return {\n      zone: '\ud83e\udd11 [\ud0d0\uc695] 71-80',\n      title: '\uacfc\uc5f4 \uc2e0\ud638! \ucc28\uc775\uc2e4\ud604 \uace0\ub824',\n      tip: 'FOMO \uc8fc\uc758! \uc9c0\uae08 \ub4e4\uc5b4\uac00\uba74 \ubb3c\ub9b4 \uc218 \uc788\uc74c\\n\ud83d\udcb5 \uc218\uc775 \uc911\uc778 \ud3ec\uc9c0\uc158 \uc77c\ubd80 \uc815\ub9ac \uace0\ub824!',\n      emoji: '\u26a0\ufe0f'\n    };\n  } else if (value <= 90) {\n    return {\n      zone: '\ud83d\ude80 [\uadf9\ub2e8\uc801 \ud0d0\uc695] 81-90',\n      title: '\ubc84\ube14 \uacbd\uace0! \uc775\uc808 \ud0c0\uc774\ubc0d!',\n      tip: '\uc2dc\uc7a5 \uacfc\uc5f4 \uc2ec\uac01. \uc5ed\uc0ac\uc801\uc73c\ub85c \uc870\uc815 \uc784\ubc15 \uad6c\uac04\\n\ud83d\udee1\ufe0f \uc218\uc775 \ud655\ubcf4! \ud604\uae08 \ube44\uc911 \ud655\ub300!',\n      emoji: '\ud83d\udd14'\n    };\n  } else {\n    return {\n      zone: '\ud83d\udca5 [\ud0d0\uc695 \uadf9\ud55c] 91-100',\n      title: '\uc720\ud3ec\ub9ac\uc544! \ud0c8\ucd9c \uc900\ube44!',\n      tip: '\uadf9\ub3c4\uc758 \ub099\uad00. \uc774\ub7f0 \ub54c \uc0ac\uba74 \uace0\uc810\uc5d0 \ubb3c\ub9b0\ub2e4\\n\ud83d\udea8 \ub9e4\ub3c4 \uc2e0\ud638! \uc695\uc2ec \ubc84\ub9ac\uace0 \uc218\uc775 \uc2e4\ud604!',\n      emoji: '\ud83c\udfc3'\n    };\n  }\n};\n\ntry {\n  const fngNode = $('Fetch FNG API').first();\n  const fngData = fngNode ? fngNode.json.data : null;\n  const priceNode = $('Fetch Crypto Prices').first();\n  const prices = priceNode ? priceNode.json : null;\n  \n  // Gemini Response Parsing\n  // Structure: candidates[0].content.parts[0].text\n  const geminiData = $input.item.json;\n  const aiComment = geminiData?.candidates?.[0]?.content?.parts?.[0]?.text || null;\n\n  if (!Array.isArray(fngData) || fngData.length < 2) {\n    throw new Error('Invalid FNG API response');\n  }\n\n  const todayRaw = fngData[0];\n  const yesterdayRaw = fngData[1];\n  const todayVal = safeParseInt(todayRaw.value);\n  const yesterdayVal = safeParseInt(yesterdayRaw.value);\n  const todayClassification = todayRaw.value_classification || 'Unknown';\n\n  const change = todayVal - yesterdayVal;\n  const changeEmoji = getChangeEmoji(change);\n  const changeSign = change >= 0 ? '+' : '';\n  const emoji = getEmoji(todayClassification);\n  const zoneInfo = getZoneMessage(todayVal);\n\n  const priceSection = (prices?.bitcoin?.usd && prices?.ethereum?.usd) \n      ? `\\n\ud83d\udcb0 *BTC*: $${prices.bitcoin.usd.toLocaleString()} | *ETH*: $${prices.ethereum.usd.toLocaleString()}` \n      : '';\n  const aiSection = aiComment ? `\\n\ud83e\udd16 *AI Insight*:\\n_${aiComment}_` : '';\n\n  const alertMessage = [\n      `${zoneInfo.emoji} *${zoneInfo.zone}*`,\n      `*${zoneInfo.title}*`,\n      '',\n      `${emoji} *Fear & Greed Index*`,\n      '\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501',\n      `\ud83d\udcca \ud604\uc7ac \uc9c0\uc218: *${todayVal}* (${todayClassification})`,\n      `${changeEmoji} \uc804\uc77c \ub300\ube44: *${changeSign}${change}*`,\n      `\ud83d\udcc5 \uc5b4\uc81c \uc9c0\uc218: ${yesterdayVal}`,\n      priceSection,\n      '',\n      `\ud83d\udca1 *\ud22c\uc790 \ud301*`,\n      zoneInfo.tip,\n      aiSection\n    ].filter(Boolean).join('\\n');\n\n  return [{\n    json: {\n      value: todayVal,\n      value_classification: todayClassification,\n      timestamp: unixToISO(todayRaw.timestamp),\n      btc_price: prices?.bitcoin?.usd,\n      eth_price: prices?.ethereum?.usd,\n      ai_comment: aiComment,\n      should_alert: true,\n      alert_message: alertMessage,\n      change: change,\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      _error: true,\n      _error_message: error.message,\n      should_alert: false\n    }\n  }];\n}"
      },
      "id": "code-transform",
      "name": "Transform & Check Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "notes": "\ub370\uc774\ud130 \ubcd1\ud569 \ubc0f \uc54c\ub9bc \ub85c\uc9c1"
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "fng_logs",
        "fieldsToSend": "defineBelow",
        "fieldList": {
          "fieldValues": [
            {
              "fieldName": "value",
              "fieldValue": "={{ $json.db_record.value }}"
            },
            {
              "fieldName": "value_classification",
              "fieldValue": "={{ $json.db_record.value_classification }}"
            },
            {
              "fieldName": "timestamp",
              "fieldValue": "={{ $json.db_record.timestamp }}"
            },
            {
              "fieldName": "btc_price",
              "fieldValue": "={{ $json.db_record.btc_price }}"
            },
            {
              "fieldName": "eth_price",
              "fieldValue": "={{ $json.db_record.eth_price }}"
            },
            {
              "fieldName": "ai_comment",
              "fieldValue": "={{ $json.db_record.ai_comment }}"
            }
          ]
        },
        "options": {
          "onConflict": "timestamp"
        }
      },
      "id": "supabase-insert",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1100,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.should_alert }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-should-alert",
      "name": "Should Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_CHAT_ID",
        "text": "={{ $json.alert_message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1540,
        -100
      ],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-alert",
      "name": "No Alert Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1540,
        100
      ]
    }
  ],
  "connections": {
    "Daily 9AM KST": {
      "main": [
        [
          {
            "node": "Fetch FNG API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch FNG API": {
      "main": [
        [
          {
            "node": "Fetch Crypto Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Crypto Prices": {
      "main": [
        [
          {
            "node": "Fetch Gemini Insight",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform & Check Alert": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Supabase": {
      "main": [
        [
          {
            "node": "Should Alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Alert?": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Alert Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Gemini Insight": {
      "main": [
        [
          {
            "node": "Transform & Check Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul"
  }
}